In [1]:
#Dictory data type
#Key and value
a=[["koran","20","chennai"], ["madurai", "kumar", "45"]]

In [2]:
a={"name" : "Kiran", "Location" : "Chennai", "age" : 20}

In [6]:
print(type(a))
print(isinstance(a,dict))

<class 'dict'>
True

In [9]:
print(a["name"]) #will show error if var not available
print(a.get("name"))  #show null

Kiran
Kiran

In [10]:
print(a["Salary"])

KeyError: 'Salary'

In [12]:
print(a.get("Salary"))
print(a.get("Salary",0)) #iferror zero

None
0

In [13]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'Location', 'age'])
dict_values(['Kiran', 'Chennai', 20])
dict_items([('name', 'Kiran'), ('Location', 'Chennai'), ('age', 20)])

In [14]:
print(len(a))
print(min(a))
print(max(a))
print(sorted(a))

3
Location
name
['Location', 'age', 'name']

In [15]:
#add another key. Key should be unique
a["salary"]=100
print(a)

{'name': 'Kiran', 'Location': 'Chennai', 'age': 20, 'salary': 100}

In [16]:
a["salary"]=200
print(a)

{'name': 'Kiran', 'Location': 'Chennai', 'age': 20, 'salary': 200}

In [17]:
#remove one item
del a["salary"]
print(a)

{'name': 'Kiran', 'Location': 'Chennai', 'age': 20}

In [19]:
a={'name' : 'kiran', 'location' : 'chennai', 'age' : 20, "salary" : 200, "name" : "test"}
print(a)

{'name': 'test', 'location': 'chennai', 'age': 20, 'salary': 200}

In [20]:
b=a.popitem() #Assign last value to new variable
print(a)
print(b)

{'name': 'test', 'location': 'chennai', 'age': 20}
('salary', 200)

In [21]:
a=["one","two","three"] #should be same item count for concate
b=[1,2,3]

c=dict(zip(a,b))
print(c)

{'one': 1, 'two': 2, 'three': 3}

In [22]:
#string
#int
#list
#tuple
#set
#dict

In [23]:
##Operators in python

In [24]:
##Arithimetic Operator
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a**b)  #exp
print(a/b)
print(a%b)  #reminder
print(a//b) #floor divition   Quotient

7
3
10
25
2.5
1
2

In [25]:
##asignment operator
a=4

##relational operator
a=5
b=2
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
True
True
False
False

In [32]:
## logical
## and
## or
## not
print(a)
print(True and True)  #case sensitive
print(True and False)
print(True or False)
print(not True)
print(not False)

5
True
False
True
False
True

In [33]:
## if
## while
## for

In [35]:
name="kiran"
mark = "50"

if name == "kiran" and mark == "50":
    print("yes")
else:
    print("no")
    

if name == "kiran" and mark == "55":
    print("yes")
else:
    print("no")

yes
no

In [38]:
#nested if
name="kiran"
mark = 50
if name == "kiran" and mark > 35:
    if mark > 60:
        print("first class")
    else:
        print("second class")
else:
    print("fail")

second class

In [39]:
## if  elif
name = "kiran"
mark = 90
if mark ==100:
    print("centum")
elif mark >=90:
    print("A grade")
elif mark >=60:
    print("first class")
else:
    print("fail")

A grade

In [40]:
## while loop  
#might be change of infinite loop if a=a+1 not given.
a=1
while a<5:
    print(a)
    a = a + 1

1
2
3
4

In [42]:
#for
list(range(10))

[10, 12, 14]

In [43]:
list(range(10,15))

[10, 11, 12, 13, 14]

In [44]:
list(range(10,15,2))  #intervel

[10, 12, 14]

In [45]:
for i in range(5):
    print(i)

0
1
2
3
4

In [47]:
a= ["hello", "welcome", "to", "tamilboomi"]
for i in a:
    print(i)

hello
welcome
to
tamilboomi

In [48]:
a="hellow welcome to tamilboomi, today we are learing python"
a=a.split(" ")
print(a)
for i in a:
    if i == "python":
        print("Yes pythong has occured")

['hellow', 'welcome', 'to', 'tamilboomi,', 'today', 'we', 'are', 'learing', 'python']
Yes pythong has occured

In [50]:
a={"name" : "dinesh", "age" : 12, "location" : "chennai"}

In [51]:
for i in a.keys():
    print(i)

name
age
location

In [52]:
for i in a.values():
    print(i)

dinesh
12
chennai

In [57]:
for k,v in a.items(): #item shows key and value
    print(f"key is : {k}")
    print(f"value is : {v}")
    print("Key is", k)

key is : name
value is : dinesh
Key is name
key is : age
value is : 12
Key is age
key is : location
value is : chennai
Key is location

In [55]:
  print("Key is", k)

Key is location

In [58]:
for k,v in a.items(): #item shows key and value
    print(f"value is : {v}")
    print("Key is", k)

value is : dinesh
Key is name
value is : 12
Key is age
value is : chennai
Key is location

In [60]:
## step 1 : generate all numbers from 10 to 20
for i in range(10,20):
    if i % 2 == 0:   #print even number
        print(i)

10
12
14
16
18

In [61]:
l=[]
for i in range(10,20):
    if i % 2 == 0:   #print even number
        l.append(i)
print(l)

[10, 12, 14, 16, 18]

In [ ]:
##a = ["test@gmail.com", "kumar@yahoo.com", "koran@gmail.com"]
## a = ["test@gmail.com" , "kumar@yahoo.com" , "kiran@gmail.com"]
## output 1 = ["test" , "kiran" ,"kumar"]
## output 2 = ["gmail" , "yahoo"]
#a = ["apple" , "apple" , "mango" , "mango" , "orange"]
# output = {"apple" : 2 , "mango" : 2 , "orange" : 1}
# unique fruit list = ["apple" , "mango", "orange"]
# duplicate fruit list ["apple" , "mango"]

In [31]:
a = ["test@gmail.com" , "kumar@yahoo.com" , "kiran@gmail.com"]
a=a.split("@")
print(a)

AttributeError: 'list' object has no attribute 'split'

AttributeError: 'list' object has no attribute 'split'

In [18]:
a="hellow welcome@to tamilboomi, today we are learing python"
a=a.split("@")
print(a)

['hellow welcome', 'to tamilboomi, today we are learing python']

In [60]:
l=[]
m=[]
a = ["test@gmail.com" , "kumar@yahoo.com" , "kiran@gmail.com"]
for i in a:
    b=i.split("@")
    l.append(b[0])
    c=b[1].split(".")
    m.append(c[0])
print(l)  ## output 1
print(set(m))  ## output 2

['test', 'kumar', 'kiran']
{'gmail', 'yahoo'}

In [33]:
# unique fruit list
a = ["apple" , "apple" , "mango" , "mango" , "orange"]
print(set(a))

{'apple', 'orange', 'mango'}

In [59]:
# output = {"apple" : 2 , "mango" : 2 , "orange" : 1}
l=[]
m=[]
a = ["apple" , "apple" , "mango" , "mango" , "orange"]
#print(a[0])
b=set(a)

for i in b:
    l.append(a.count(i))
    
    if a.count(i) > 1:
        m.append(i)       # duplicate fruit list ["apple" , "mango"]


print(m) 

c=dict(zip(b,l))
print(c)

['apple', 'mango']
{'apple': 2, 'orange': 1, 'mango': 2}

In [65]:
##a = ["test@gmail.com", "kumar@yahoo.com", "koran@gmail.com"]
## a = ["test@gmail.com" , "kumar@yahoo.com" , "kiran@gmail.com"]
## output 1 = ["test" , "kiran" ,"kumar"]
## output 2 = ["gmail" , "yahoo"]
#a = ["apple" , "apple" , "mango" , "mango" , "orange"]
# output = {"apple" : 2 , "mango" : 2 , "orange" : 1}
# unique fruit list = ["apple" , "mango", "orange"]
# duplicate fruit list ["apple" , "mango"]

l=[]
m=[]
a = ["test@gmail.com" , "kumar@yahoo.com" , "kiran@gmail.com"]
for i in a:
    b=i.split("@")
    l.append(b[0])
    c=b[1].split(".")
    m.append(c[0])
print(l)                                 ## output 1
print(set(m))                            ## output 2
#--------------------------------------------------------------------------------------------


l=[]
m=[]
a = ["apple" , "apple" , "mango" , "mango" , "orange"]
#print(a[0])
b=set(a)

for i in b:
    l.append(a.count(i))
    
    if a.count(i) > 1:
        m.append(i)       

c=dict(zip(b,l))
print(c)                                ## output = {"apple" : 2 , "mango" : 2 , "orange" : 1}
print(set(a))                           ## unique fruit list = ["apple" , "mango", "orange"]
print(m)                               ## duplicate fruit list ["apple" , "mango"]

['test', 'kumar', 'kiran']
{'gmail', 'yahoo'}
{'apple': 2, 'orange': 1, 'mango': 2}
{'apple', 'orange', 'mango'}
['apple', 'mango']