In [2]:
##Function (user defined function)
def add(a,b):
    print(a+b)

In [3]:
add(5,4)

9

In [4]:
add(10,20)

30

In [5]:
#Argument ---Local variable, Global Variable
def add(a,b):
    return (a+b)
a=add(5,4)

In [6]:
print(a)

9

In [7]:
b=add(a,10)
print(b)

19

In [9]:
def add(a,b):
    c=a+b
    print(f"start of function : {c}")
    return c
    print ("after return")
add(5,4)

start of function : 9

9

In [ ]:
## local variable
## global variable

In [10]:
a="welcome"
def test():
    a="hello"
test()
print(a)

welcome

In [12]:
a="welcome"
def test():
    a="hello"
    return a
print(a)  #global variable
a=test()
print(a)  #called local variable

welcome
hello

In [13]:
a="welcome"
def test():
    a="hello"
    print(a)
print(a)  #global variable
test()    #called local variable
print(a)  #Global variable

welcome
hello
welcome

In [14]:
#Change local variable to global
a="welcome"
def test():
    a="hello"
    print(a)

test()    #called local variable
print(a)  #global variable
print(a)  #Global variable

hello
welcome
welcome

In [15]:
#Change local variable to global
a="welcome"
def test():
    global a    #It overwrite welcome
    a="hello"
    print(a)

test()    #called local variable
print(a)  #global variable
print(a)  #Global variable

hello
hello
hello

In [ ]:
#Way of passing argument, argument handling

In [ ]:
def add(a,b,c):
    return a+b+c

In [19]:
def name(f_name,m_name,l_name):
    print("first name is ", f_name)
    print("middle name is ", m_name)
    print("last name is ", l_name)
    print(f_name + " " + l_name)

In [20]:
name("sachin", "Ramesh", "Tendulkar") #positinoal argument

first name is  sachin
middle name is  Ramesh
last name is  Tendulkar
sachin Tendulkar

In [18]:
name(l_name = "sachin", f_name="Ramesn", m_name="Tendulkar")#keyword argument

first name is  Ramesn
middle name is  Tendulkar
last name is  sachin

In [21]:
#default argument
def name(f_name = None,m_name = None,l_name = None):
    print("first name is ", f_name)
    print("middle name is ", m_name)
    print("last name is ", l_name)

In [22]:
name("Sachin")

first name is  Sachin
middle name is  None
last name is  None

In [23]:
#positional arg follows keyword arg
#non default arg follows default arg

In [24]:
def name(f_name = None,m_name = None,l_name = None):
    print("first name is ", f_name)
    print("middle name is ", m_name)
    print("last name is ", l_name)

In [25]:
#error because m_name not given
name(l_name = "sachin", f_name="Ramesn", "Tendulkar")

SyntaxError: positional argument follows keyword argument (2386743588.py, line 2)

In [26]:
def test(*args):
    print(args)
    a=args[0]
    b=args[1]
    print(a,b)

In [27]:
test("hello",1,3,4,5,"welcome")

('hello', 1, 3, 4, 5, 'welcome')
hello 1

In [28]:
def test(**kwargs):
    print(kwargs)
    name=kwargs.get("name")
    state=kwargs.get("state")
    print(name,state)
    return name, state

In [29]:
test(name = "test", add1="add1", add2="add2", state="state")

{'name': 'test', 'add1': 'add1', 'add2': 'add2', 'state': 'state'}
test state

('test', 'state')

In [33]:
def test(a, *b):
    print(a)
    print(b)   #other than first position

In [31]:
test(1)

1
()

In [32]:
test(1,2,3,4,5)

1
(2, 3, 4, 5)

In [34]:
def mul(a,b,c=1):  #1 is null value to arthimetic variable 
    print(a*b*c)
mul(3,4)

12

In [35]:
##Lambda  # in line function (one line function)
a= lambda a,b : a+b
a(5,4)

9

In [36]:
a= lambda *args : args
a(1,2,3,4)

(1, 2, 3, 4)

In [37]:
email_set = set()
user_list = []

In [ ]:
write a function , take two input as argument
#inp : 1 --> [10,1,20,45,6,12,8]
#inp :2 --> some integer
#ex: inp : 2 --> 1
# op = [1,10,20,45,6,12,8]
##
##common function 
## arg1 : start num
## arg2 : end num
## arg1 : even/odd
# 10 , 500 , odd --> op : list
### lambda - simple lambda function